body {max-width:640px;margin:0 auto;font-family:"微软雅黑";font-size:12px;}
.top_img{width:100%;max-width:640px;height:0.9rem;}
.top_img a{width:100%;max-width:640px;position:fixed;top:0;display:block;z-index:9;}
.top_img a img{width:100%;}
.top_img a.stb3 img{position:absolute;top:0;left:0;width:100%;}
.top_img a.stb3 img:nth-child(2){z-index:1;animation: cut1 9s linear infinite;-o-animation: cut1 9s linear infinite;-webkit-animation: cut1 9s linear infinite;}
.top_img a.stb3 img:nth-child(3){z-index:1;animation: cut2 9s linear infinite;-o-animation: cut2 9s linear infinite;-webkit-animation: cut2 9s linear infinite;}
@keyframes cut1{0%{opacity: 0;}33.33%{opacity: 0;}33.34%{opacity:1;}66.66%{opacity:1;}66.67%{opacity: 0;}}
@-webkit-keyframes cut1{0%{opacity: 0;}33.33%{opacity: 0;}33.34%{opacity:1;}66.66%{opacity:1;}66.67%{opacity: 0;}}
@-o-keyframes cut1{0%{opacity: 0;}33.33%{opacity: 0;}33.34%{opacity:1;}66.66%{opacity:1;}66.67%{opacity: 0;}}
@keyframes cut2{0%{opacity: 0;}66.66%{opacity: 0;}66.67%{opacity: 1;}100%{opacity: 1;}}
@-webkit-keyframes cut2{0%{opacity: 0;}66.66%{opacity: 0;}66.67%{opacity: 1;}100%{opacity: 1;}}
@-o-keyframes cut2{0%{opacity: 0;}66.66%{opacity: 0;}66.67%{opacity: 1;}100%{opacity: 1;}}

.top_img a.stb2 img{position:absolute;top:0;left:0;width:100%;}
.top_img a.stb2 img:nth-child(2){z-index:1;animation: cut4 6s linear infinite;-o-animation: cut4 6s linear infinite;-webkit-animation: cut4 6s linear infinite;}
@keyframes cut4{0%{opacity: 0;}50%{opacity:0;}51%{opacity:1;}100%{opacity: 1;}}
@-webkit-keyframes cut4{0%{opacity: 0;}50%{opacity:0;}51%{opacity:1;}100%{opacity: 1;}}
@-o-keyframes cut4{0%{opacity: 0;}50%{opacity:0;}51%{opacity:1;}100%{opacity: 1;}}
