* {margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;}
body {max-width:640px;margin:0 auto;font-family:"微软雅黑";font-size:0.24rem;line-height:1.5;}
ul, ol, li {list-style: none;}
a { color: #6E7D8B; text-decoration: none; outline: 0 }
a:active, a:hover, a.current { outline: 0 }
.banner img{display:block;width:100%;}
.headcss{}
.headcss img{display:block;width:100%;}
.footcss{background:url(../images/footbg.png) no-repeat 0 0.55rem/100% auto;padding:0.3rem 0 0.7rem 0;}
.footcss .fttxt{padding:0.9rem 0.2rem 0.2rem 2.4rem;font-size:0.2rem;line-height:0.3rem;color:#333;}
.footcss .fttxt p{margin-bottom:0.1rem;}
.footcss .fttxt p strong{color:#296642;}
.footcss .fttxt p a{display:block;width:1.5rem;text-align:center;height:0.42rem;line-height:0.42rem;background:#3c875b;color:#fff;}
.footcss .zhibuyun {text-align: center;margin-bottom: 0.5rem}
.footcss .zhibuyun img {width: 2.9rem}
.footcss .flogo{text-align:center;padding-bottom:0.1rem;}
.footcss .flogo img{width:3rem;}
.footcss .tcp{font-size:0.2rem;line-height:0.3rem;color:#333;text-align:center;}

