<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YE|vue常用指令</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    1.data {msg:'hello vue'}-->{{hello}}
    <hr>
    2.v-model="msg"：与下面的文本框内容绑定：<span>{{msg}}</span>
    <hr>
    3.双向绑定数据<input type="text" v-model="msg" id="text">
    <hr>
    4.组件使用test标签可以显示h1标签的内容：
    <test content="hello Vue !"></test><hr>
    5.方法与按钮点击事件
    <button @click="click()">点点</button><hr>
    6.生命周期：init(beforeCreate)-->create-->beforeCompile(created)-->beforeMount-->complied-->ready(mounted)-->attacked-->detached-->beforeDestroy-->destroy
</div>
<!--{{msg}}放在外面是没有用的-->
</body>
<script>
    //1
    var m = Vue.extend({
        props: ['content'],
        template: '<h1>{{content}}</h1>'
    });
    Vue.component('test', m);
    //2
    var vue = new Vue({
        el: '#app',
        data: {
            hello: 'hello Vue !',
            msg: 'hello Vue !'
        },
        methods: {
            click: function () {
                alert('点我干嘛！');
            }
        }
    });
    //1和2部分为什么不能调换
</script>
<style>
    #app {
        font: 30px '宋体';
    }

    #text, span {
        height: 30px;
        font: 30px '宋体';
        color: #4cae4c;
    }
    button{
        width: 100px;
        height: auto;
        font: 30px '宋体';
        background: white;
        border: 2px solid #4cae4c;
        border-radius: 5px;
    }
</style>
</html>